{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="hero h-100">
        <div class="masthead text-white text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <h2> class="mb-5 text-white">Buy your carpets and flooring supplies here!</h2>
                    </div>
                    <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                        <a href="{% url 'products' %}" class="myButton">Shop Now </a>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section>
        <div class="container">

        </div>
    </section>
    <section class="contact">
        <div class="container text-center">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 box">
                    <h2>Do you need someone to fit your carpet?</h2>
                    <p>With over 30 years experience in the flooring trade, we can do that too!</p>
                    <a href="{% url 'contact' %}" class="myButton">Contact us</a>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </section>
{% endblock %}