{% extends "base.html" %}
{% load static %}

{% page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="bg-success text-white">
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <h1> Over 30 years experience in the flooring trade</h1>
                    <a href="#" class="myButton">Shop Now </a>
                    </div>
            </div>
        </div>
    </section>
{% endblock %}