{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container profile-container">
        <div class="row">
            <div class="col">
                <h2 class="page-title">My Profile</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12"></div>
            <div class="col-12">
                <!--Buttons allow user to toggle between different sections of profile-->
                <button class="btn myButton mb-2" id="show_favourites">Favourites</button>
                <button class="btn myButton mb-2" id="show_delivery">Delivery Info</button>
                <button class="btn myButton mb-2" id="show_order_hist">Order History</button>
            </div>
        </div>
        <!--Delivery info section (when not selected this is hidden by javascript-->
        <div class="row" id="default_delivery_info">
            <div class="col-12 col-lg-6 mt-3">
                <h3 class="page-title">Delivery information:</h3>
                <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn myButton float-right" >Update Details</button>
                </form>
            </div>
        </div>
        <!--Order History section (when ot selected, this is hidden by javascript)-->
        <div class="row" id=order-hist>
            <div class="col-12 col-lg-6 mt-3">
                <h3 class="page-title">Order History:</h3>
                <hr>
                <div class="order-history">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">{{ order.order_number|truncatechars:6 }}</a>
                                    </td>
                                    <td>{{ order.date }}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            <li class="small">
                                                {% if item.product.area %}
                                                Custom Size: {{ item.product.area }}M2
                                                {% endif %}{{ item.product.name }} x{{ item.quantity }}
                                            </li>
                                        </ul>
                                    </td>
                                    <td>{{ order.grand_total }}</td>
                                    
                                </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        <!--Favourites section (when not selected, this is hidden by javascript)-->
        <div class="row" id="faves">
            {% if products %}
                {% for product in products %}
                <div class="col-lg-4 col-md-6 mb-4 mt-3">
                    <h3 class="page-title">My Favourites:</h3>
                    <div class="card h-100">
                        {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                            {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid page" src="{{ MEDIA_URL }}no-image.jpg" alt="{{ product.name }}">
                            </a>
                        {% endif %}
                    <div class="card-body">
                        <h4 class="card-title">
                        <a href="{% url 'product_detail' product.id %}" class="page-title">{{ product.name }}</a>
                        </h4>
                        <h5 class="page-title">£{{ product.price }} M²</h5>
                        <div id="favourite-section">
                                <a href="{% url 'favourite_product' product.id %}">
                                    <i class="fas fa-heart fa-lg"></i>
                                </a>
                        </div>
                    </div>
                    <p class="card-text card-details" class="spec">
                        {% if product.category %}
                            Category: {{ product.category.friendly_name}}; 
                        {% endif %}
                        {% if product.style %}
                            Style: {{ product.style.friendly_name }}; 
                        {% endif %}
                        {% if product.material %}
                            Material: {{ product.material.friendly_name }}; 
                        {% endif %}
                        {% if product.backing %}
                            Backing: {{ product.backing.friendly_name }}; 
                        {% endif %}
                        {% if product.manufacturer %}
                            Manufacturer: {{ product.manufacturer.friendly_name }};
                        {% endif %}
                    </p>
                    <div class="card-footer">
                        {% if request.user.is_superuser %}
                        <a href="{% url 'edit_product' product.id %}" class="text-info">Edit</a> 
                        <a href="{% url 'delete_product' product.id %}" class="text-danger">Delete</a>
                        {% endif %}
                    </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                You have no favourites
            {% endif %}
        </div>
    </div>
    {{ profile }}
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    // Script allows toggle between profile sections
    $("#default_delivery_info").hide();
    $("#order-hist").hide();

    $('#show_favourites').on('click', function() {
        $("#default_delivery_info").hide();
        $("#order-hist").hide();
        $("#faves").show();
    });

    $('#show_delivery').on('click', function() {
        $("#faves").hide();
        $("#order-hist").hide();
        $("#default_delivery_info").show();
    });

    $('#show_order_hist').on('click', function() {
        $("#faves").hide();
        $("#default_delivery_info").hide();
        $("#order-hist").show();
    });
</script>
{% endblock %}