html {
    height: 100%;
}

@media (min-width: 576px){
.form-inline .input-group {
    width: 100%;
}}

.hero {
    background-color: #A6998F;
    padding: 10%;
}

.black {
    background-color: #262425;
}

.text-white {
    color: #F2F2F2;
}

.nav-link{
    font-family: 'Raleway', sans-serif;
    width: 100%;
}

.main-nav{
    margin-bottom: 1%;
}

.box{
    border-style: solid;
    border-color:#A6998F;
    margin-top: 8%;
    margin-bottom: 8%;
    padding: 5%;
    color: #A6998F;
}

.myButton {
	background-color:#262425;
	border-radius:11px;
	border:1px solid #262425;
	display:inline-block;
	cursor:pointer;
	color:#a6998f;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:13px 41px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#f2f2f2;
}
.myButton:active {
	position:relative;
	top:1px;
}

footer{
    background-color: #262425;
    padding: 2%;
    font-family: 'Raleway', sans-serif;
    color: #f2f2f2;
}

.product-info{
    padding-top: 3%;
    padding-left: 4%;
}

/* Header Styling*/

#topnav {
    height: 200px;
}

.shopping-nav {
    padding-top: 35px;
    padding-right: 20%;
}

.shopping-nav a {
    color: #A6998F;
}

.shopping-nav a:hover {
    color: #262425;
}

.shopping-nav li {
    margin-right: 5%;
    /* border-right:1px solid #A6998F; */
}

.shopping-icon {
    font-size: 1.7rem;
    padding-bottom: 7%;
}

.shopping-icon-text{
    font-size: 1.3rem;
}

/* Header Styling - Media Queries */

@media (max-width: 768px){
.logo {
    margin-left: 50%
}
}