<div class="container main-nav">
                <div class="row black">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <nav class="navbar navbar-expand-lg">
                            <ul class="list-inline list-unstyled">
                                <li class="nav-item dropdown list-inline-item">
                                    <a class="nav-link dropdown text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    All Products
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <h6>Sort By</h6>
                                        <a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">Price</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?sort=category&direction=asc">Flooring Type</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?sort=style&direction=asc">Style</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?sort=material&direction=asc">Material</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?sort=backing&direction=asc">Backing</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?sort=manufacturer&direction=asc">Manufacturer</a>
                                    </div>                                                  
                                </li> 
                                <li class="nav-item dropdown list-inline-item">
                                    <a class="nav-link dropdown text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Carpets
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{% url 'products' %}?category=carpets">All Carpets</a>
                                        <!--<a class="dropdown-item" href="#">Colour</a>-->
                                        <!--<a class="dropdown-item" href="#">Price</a>-->
                                        <h6>Style</h6>
                                        <a class="dropdown-item" href="{% url 'products' %}?style=twist_pile">Twist Pile</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?style=berber_loop_pile">Berber Loop Pile</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?style=deep_pile_saxony">Deep Pile Saxony</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?style=striped_carpet">Striped</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?style=sparkle">Sparkle</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?style=cord">Cord</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?style=patterned">Patterned</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?style=kids_childrens_carpet">Kids/Children</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?style=budget">Budget</a>
                                        <h6>Material</h6>
                                        <a class="dropdown-item" href="{% url 'products' %}?material=polypropylene">100% Polypropylene</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?material=polyamide">100% Polyamide</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?material=wool">100% Wool</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?material=wool_mix">Wool Mix</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?material=polyester">Polyester</a>
                                        <h6>Backing</h6>
                                        <a class="dropdown-item" href="{% url 'products' %}?backing=carpet_fusion">Carpet Fusion</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?backing=fusion_backing">Fusion Backing</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?backing=latex_gel_backing">Latex Gel Backing</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?backing=felt_backing_carpet">Felt Backing</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?backing=action_hessian_backing">Action (Hessian) Backing</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?backing=gel_backing">Gel Backing</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?backing=foam_backing_carpet">Foam Backing</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?backing=woven_backing">Woven Backing</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?backing=latex_backing">Latex Backing</a>
                                        <!--<h6>Width</h6>
                                        <a class="dropdown-item" href="#">Width</a>-->
                                        <h6>Manufacturer</h6>
                                        <a class="dropdown-item" href="{% url 'products' %}?manufacturer=polyamide">Abingdon Carpets</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?manufacturer=wool">Associated Weavers</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?manufacturer=wool_mix">Cormar Carpets</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?manufacturer=polyester">Regency Carpets</a>
                                    </div>                               
                                </li>
                                <li class="nav-item dropdown list-inline-item">
                                    <a class="nav-link dropdown text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Vinyl
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{% url 'products' %}?category=vinyl">All Vinyl</a>
                                        <h6>Style</h6>
                                        <a class="dropdown-item" href="{% url 'products' %}?style=plain">Plain</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?style=wood_planks">Wood Planks</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?style=tiles">Tiles</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?style=striped_vinyl">Striped</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?style=kids_childrens_vinyl">Kids/Children</a>
                                        <h6>Backing</h6>
                                        <a class="dropdown-item" href="{% url 'products' %}?backing=felt_backing_vinyl">Felt Backing</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?backing=foam_backing_vinyl">Foam Backing</a>
                                        <!--<h6>Width</h6>
                                        <a class="dropdown-item" href="#">Width</a>-->
                                        <h6>Manufacturer</h6>
                                        <a class="dropdown-item" href="{% url 'products' %}?manufacturer=rhinofloor">Rhinofloor Vinyl Flooring</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?manufacturer=tarkett">Tarkett Vinyl Flooring</a>  
                                    </div>
                                </li>
                                <li class="nav-item dropdown list-inline-item">
                                    <a class="nav-link dropdown text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Laminate
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{% url 'products' %}?category=laminate">All Laminate</a>
                                        <h6>Style</h6>
                                        <a class="dropdown-item" href="{% url 'products' %}?style=wood">Wood</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?style=stone">Stone</a>
                                        <!--<h6>Thickness</h6>
                                        <a class="dropdown-item" href="#">Width</a>-->
                                        <h6>Manufacturer</h6>
                                        <a class="dropdown-item" href="{% url 'products' %}?manufacturer=balterio">Balterio Laminate Flooring</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown list-inline-item">
                                    <a class="nav-link dropdown text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Underlay
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{% url 'products' %}?category=underlay">All Underlay</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?style=carpet_underlay">Carpet Underlay</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?style=laminate_underlay"></a>Laminate Flooring Underlay</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown list-inline-item">
                                    <a class="nav-link dropdown text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Accessories
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{% url 'products' %}?category=accessories">All Accessories</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?style=carpet_accessories">Carpet Accessories</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?style=laminate_accessories">Laminate Flooring Accessories</a>
                                        <a class="dropdown-item" href="{% url 'products' %}?style=vinyl_accessories">Vinyl Flooring Accessories</a>
                                    </div>
                                </li>
                            </ul>   
                        </nav>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>