{% load static %}

<!doctype html>
<html lang="en">
    <head>

        {% block meta %}
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}

        {% block extra_meta %}
        {% endblock %}

        {% block corecss %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css2?family=Raleway&family=Righteous&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}

        {% block extra_css %}
        {% endblock %}

        {% block corejs %}
            <script src="https://kit.fontawesome.com/6629f1558e.js" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script src="{% static 'js/base.js' %}"></script>
        {% endblock %}

        {% block extra_js %}
        {% endblock %}

        <title>Alex Gibb Carpet Fitting Specialist {% block extra_title %}{% endblock %}</title>
    </head>

    <body>
        <header class="container-fluid">
            <div id="topnav" class="row">
                <div class="col-4 my-auto">
                    <a href="{% url 'home' %}" class="nav-link logo">
                        <img src="/media/logo-3.jpg" alt="Alex Gibb"> <!--This needs changing to MEDIA_ROOT-->
                    </a>
                </div>
                <div class="col-lg-4 my-auto">
                        <form method="GET" action="{% url 'products' %}" class="form-inline">
                            <div class="input-group" class="searchbar">
                                <input class="form-control mr-sm-2" type="test" name="q" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                                </div>
                            </div>
                        </form>
                </div>
                <div class="col-lg-4 my-auto">
                    <ul class="list-inline text-right my-0 shopping-nav">
                        <li class="list-inline-item dropdown">
                            <a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center shopping-icon">
                                    <i class="fas fa-user-circle fa-lg"></i>  
                                </div>  
                                <p class="shopping-icon-text">Account</p>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% if request.user.is_authenticated %}
                                <a class="dropdown-item" href="#">My Profile</a>
                                <a class="dropdown-item" href="#">Log Out</a>
                                    {% if request.user.is_superuser %}
                                    <a class="dropdown-item" href="#">Add/Remove products</a>
                                    {% endif %}
                                {% else %}
                                    <a class="dropdown-item" href="#">Login</a>
                                    <a class="dropdown-item" href="#">Sign-up</a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                                <div class="text-center shopping-icon">
                                    <i class="fas fa-shopping-cart"></i>
                                </div>
                                    <p class="shopping-icon-text">
                                        {% if grand_total %}
                                            £{{ grand_total|floatformat:2 }}
                                        {% else %}
                                            £0.00
                                        {% endif %}
                                    </p>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            {% include 'includes/main-nav.html' %}
        </header>
        

        {% if messages %}
            <div class="message-container"></div>
        {% endif %}

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        <footer>
            <div class="container text-center">
                <div class="row">
                    <div class="col-12">Facebook</div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul class="list-inline list-unstyled">
                            <li class="list-inline-item">About</li>
                            <li class="list-inline-item">Contact us</li>
                            <li class="list-inline-item">Previous work</li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        {% block postloadjs %}
        
        {% endblock %}

    </body>
</html>

