{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container page-title">
        <div class="row">
            <div class="col">
                <h2>Product Management</h2>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <button class="btn myButton mb-2" id="show_add_product">Add Products</button>
                <button class="btn myButton mb-2" id="show_add_colour">Add Colours</button>
            </div>
        </div>
        <div class="row" id="product_add">
            <div class="col-12 col-md-6">
                <h5>Add a Product</h5>
                <hr>
                <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <div class="text-right">
                    <button class="btn myButton" type="submit">Add Product</button>
                </div>
                </form>
            </div>
        </div>
        <div class="row" id="colour_add">
            <div class="col-12 col-md-6">
                <h5>Add a Colour</h5>
                <hr>
                <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form2 %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <div class="text-right">
                    <button class="btn myButton" type="submit">Add Colour</button>
                </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script>
    $("#colour_add").hide();

    $('#show_add_colour').on('click', function() {
        $("#product_add").hide();
        $("#colour_add").show();
    });

    $('#show_add_product').on('click', function() {
        $("#colour_add").hide();
        $("#product_add").show();
    });

    $('#new-image').change(function() {
        var file = $(`#new-image`)[0].files[0];
        $('#filename').text(`Image will be set to: ${file.name}`);
    });
    </script>

{% endblock %}
