{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Product Management</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button class="btn myButton" id="show_add_product">Edit Products</button>
                <button class="btn myButton" id="show_add_colour">Edit Colours</button>
            </div>
        </div>
        <div class="row" id="product_add">
            <div class="col-12 col-md-6">
                <h5>Edit a Product</h5>
                <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <div class="text-right">
                    <button class="btn myButton" type="submit">Update Product</button>
                </div>
                </form>
            </div>
        </div>
        <div class="row" id="colour_add">
            <div class="col-12 col-md-6">
                <h5>Edit a Colour</h5>
                <form method="POST" action="" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form2 | crispy }}
                <div class="text-right">
                    <button class="btn myButton" type="submit">Update Colour</button>
                </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script>
    $("#colour_add").hide();

    $('#show_add_colour').on('click', function() {
        $("#product_add").hide();
        $("#colour_add").show();
    });

    $('#show_add_product').on('click', function() {
        $("#colour_add").hide();
        $("#product_add").show();
    });
    </script>

{% endblock %}
