{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">   
    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
        <div class="row">
            <div class="col">
                    <div class="card mt-4">
                        <div class="row product-info">
                            <div class="col-lg-4">
                                <div class="card-img-top img-fluid"> 
                                    {% if product.image %}
                                    <span>
                                    
                                            <div>
                                                <a href="{{ product.image.url }}" target="_blank">
                                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}" id="product-img">
                                                </a>
                                            </div>
                                        
                                    </span>
                                    
                                    <span id="colour-img">
                                        {% for colour in colours %}
                                                <div id="showcolour-{{ colour.id }}" class="myDiv">
                                                    <a href="{{ colour.image.url }}" target="_blank">
                                                        <img class="card-img-top img-fluid" src="{{ colour.image.url }}" alt="{{ colour.name }}" id="img-colour">
                                                    </a>
                                                </div>
                                        {% endfor %}
                                    </span>
                                    {% else %}
                                            <a href="">
                                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no-image.jpg" alt="{{ product.name }}">
                                            </a>
                                    {% endif %}
                                    <div class="col-12 mt-3">
                                        {% if product.category.name == 'carpets' or product.category.name == 'vinyl' or product.category.name == 'laminate'%}
                                            <select class="form-select form-select-lg form-control mb-3" name="colour" id="myselection" aria-label="colour">
                                                <option selected disabled>Pick a Colour</option>
                                                {% for colour in colours %}
                                                    <!--Loop means dropdown will only show colours who's product field matches up with the durrent product name-->
                                                    {% if product.name == colour.product.name %}
                                                        <option value="colour-{{ colour.id }}" class="carpet-colour" id="click-{{ colour.id }}">{{ colour.friendly_name }}</option>
                                                    {% endif %}
                                                {% endfor %}}
                                            </select>
                                        {% endif %}
                                    </div>    
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <h3 class="card-title">{{ product.name }}</h3>
                                <h4>£<span id="price">{{ product.price }}</span>M²</h4>
                                <h6>
                                    {% if request.user.is_superuser %}
                                        <a href="{% url 'edit_product' product.id %}" class="text-info">Edit</a> 
                                        <a href="{% url 'delete_product' product.id %}" class="text-danger ml-4">Delete</a>
                                    {% endif %}
                                    <div id="favourite-section">
                                        {% if is_favourite %}  
                                            <a href="{% url 'favourite_product' product.id %}">
                                                <i class="fas fa-heart fa-lg"></i>
                                            </a>
                                        {% else %}
                                            <a href="{% url 'favourite_product' product.id %}">
                                                <i class="far fa-heart fa-lg"></i>
                                            </a>
                                        {% endif %}
                                    </div>
                                </h6>
                                <!--Buttons to allow toggle between Description & specification display for product-->
                                <input type="button" Value="Description" class="myButton" id="description_button" />
                                <input type="button" Value="Specification" class="myButton" id="spec_button" />
                                
                                <div>
                                    <div id="description">
                                        <p class="card-text mt-3">{{ product.description }}</p>
                                    </div>
                                    <div id="specification">
                                        {% if product.category %}
                                        <p class="card-text mt-3" class="spec">Category: {{ product.category.friendly_name }}</p>
                                        {% endif %}
                                        {% if product.style %}
                                        <p class="card-text" class="spec">Style: {{ product.style.friendly_name }}</p>
                                        {% endif %}
                                        {% if product.material %}
                                        <p class="card-text" class="spec">Material: {{ product.material.friendly_name }}</p>
                                        {% endif %}
                                        {% if product.backing %}
                                        <p class="card-text" class="spec">Backing: {{ product.backing.friendly_name }}</p>
                                        {% endif %}
                                        {% if product.manufacturer %}
                                        <p class="card-text" class="spec">Manufacturer: {{ product.manufacturer.friendly_name }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card-body">
                            {% if product.in_stock.name == 'Yes' %}
                                <!--Price Calculator - Calculates cost of product based on user selected length & width and then £ per M²-->
                                    
                                        {% csrf_token %}
                                            {% if product.category.name == 'carpets' or product.category.name == 'vinyl' or product.category.name == 'laminate'%}
                                                <div id="price_calculator">
                                                    <h5>Price Calculator</h5>
                                                    <h6>Enter size below</h6>
                                                    <h6>length(Metres)</h6>
                                                    <input type="number" id="length" name="length" required/>
                                                    <h6>width(Metres)</h6>
                                                    <select id="width" class="form-control mb-3" name="width" aria-label="width" required="required">
                                                        <option selected disabled>Choose width</option>
                                                        {% if product.category.name == 'carpets' %}
                                                        <option>4</option>
                                                        <option>5</option>
                                                        {% else %}
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        {% endif %}
                                                    </select>
                                                    <input type="button" onClick="multiplyBy()" Value="Calculate total cost" class="myButton" id="calculate"/>
                                                    <h6>Total Area</h6>
                                                    <span id="area"></span>
                                                    <h6>Total Price</h6>
                                                    <span id="selected_cost" name="selected_cost"></span>
                                                    <br>
                                                </div>
                                            {% endif %}
                                        
                                            <div class="form-row" id="qty_add">
                                                <div class="col-12">
                                                    <p class="mt-3"><strong>Quantity:</strong></p>
                                                    <div class="form-group w-50">
                                                        <div class="input-group">
                                                            <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99"
                                                                data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                                        </div>
                                                    </div>
                                                </div>
                                        
                                                <div class="col-12">
                                                    <input type="submit" class="btn myButton" value="Add to Bag">
                                                </div>
                                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                            </div>
                                                                  
                            {% else %}    
                                <p>Unfortunatley this product is currently out of stock</p>    
                            {% endif %}
                            </div>
                    </div>
            </div>
        </div>
    </form>   

    <div>
        <!--Previously posted Comments-->
        {% with comments.count as total_comments %}
            <h2>
              {{ total_comments }} comment{{ total_comments|pluralize }}
            </h2>
        {% endwith %}
        <div class="card my-4">
            <h5 class="card-header comment-head">User Reviews:</h5>
            {% for comment in comments %}
            <!--Display comments posted to this review-->
            <div class="media mb-4">
                <div class="col-1"></div>
                <div class="media-body">
                    <h5 class="mt-0 commenter-info">{{ comment.name }} | {{ comment.date_added }}</h5>
                    {{ comment.body }}
                </div>
            </div>
            <hr>
            {% empty %}
            <p>There are currently no reviews for this post. Be the first to leave one...</p>
            <input type="button" Value="Add Review" class="myButton" id="add_reviews" />
            {% endfor %}
            <div class="row" id="reviews">
                <div class="col-2"></div>
                <div class="col-8">
                    <h5>Leave a Review:</h5>
        
                    <div class="card-body">
                        <form method="POST" action="">
                            {{ comment_form }}
                            {% csrf_token %}
                            <button type="submit" class="btn myButton">Post Review</button>
                        </form>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script>
        {% for colour in colours %}
            $("#showcolour-{{ colour.id }}").hide();

            $('#click-{{ colour.id }}').on('click', function() {
                alert("test");
                $("#showcolour-{{ colour.id }}").show();
            });
        {% endfor %}

    /* Hide/show Description or specification on Product Detail Page */

        // Hide Specification by default
        $("#specification").hide();
        
        // Show specification and hide description when Specification button is clicked
        $('#spec_button').on('click', function() {
                $("#specification").show();
                $("#description").hide();
            });
        
        // Show description and hide specification when Description button is clicked
        $('#description_button').on('click', function() {
                $("#specification").hide();
                $("#description").show();
            });
    
        {% if product.category.name == 'carpets' or product.category.name == 'vinyl' or product.category.name == 'laminate'%}
        /* Hide quantity and 'add to bag' until user has calculated price */
            $("#qty_add").hide();

            $('#calculate').on('click', function() {
                    $("#qty_add").show();
                });
        {% endif %}

        $("#reviews").hide();

            $('#add_reviews').on('click', function() {
                $("#reviews").show();
            });
    </script>
{% endblock %}