{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}
<!--This page displays all products (can be filtered through options in base template search bar and main-nav include -->
{% block content %}
    <div class="container">
        <div class="row">
            <h2 class="page-title ml-5">Products</h2>
        </div>
        <hr>
        <div class="row">
            {% for product in products %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                    {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no-image.jpg" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                    <div class="card-body">
                        <h4 class="card-title">
                        <a href="{% url 'product_detail' product.id %}" class="page-title">{{ product.name }}</a>
                        </h4>
                        <h5 class="page-title">£{{ product.price }}{% if product.category.name == 'carpets' or product.category.name == 'vinyl' or product.category.name == 'laminate'%}M²{% endif %}</h5>
                    </div>
                    <p class="card-text card-details">
                        {% if product.category %}
                            Category: {{ product.category.friendly_name}}; 
                        {% endif %}
                        {% if product.style %}
                            Style: {{ product.style.friendly_name }}; 
                        {% endif %}
                        {% if product.material %}
                            Material: {{ product.material.friendly_name }}; 
                        {% endif %}
                        {% if product.backing %}
                            Backing: {{ product.backing.friendly_name }}; 
                        {% endif %}
                        {% if product.manufacturer %}
                            Manufacturer: {{ product.manufacturer.friendly_name }};
                        {% endif %}
                    </p>
                    <div class="card-footer">
                        {% if request.user.is_superuser %}
                        <a href="{% url 'edit_product' product.id %}" class="text-info">Edit</a> 
                        <a href="{% url 'delete_product' product.id %}" class="text-danger">Delete</a>
                        {% endif %}
                    </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}