<form class="form update-form" method="POST" action="">
    {% csrf_token %}
        <div class="form-group">
            <div class="input-group">
                <input class="form-control qty_input" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99"
                    data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                {% if item.product.category.name == 'carpets' or item.product.category.name == 'vinyl' or item.product.category.name == 'laminate'%}
                    <input type="hidden" name="carpet_area" value="{{ item.carpet_area }}">
                {% endif %}
            </div>
        </div>
</form>
<a class="update-link text-info"><small>Update</small></a>